{% if message.info %}
    {% for info in message.info %}

    {% endfor %}
{% endif %}

{% if message.success %}
    <div class="alert alert-success" role="alert">
    {{ message.success }}
    </div>
{% endif %}
