{% extends "base.njk"%}

{% block content %}

<form method="post" action="/add">

  <div class="mb-3">
    <label for="exampleInputURL" class="form-label">Enter URL</label>
    <input type="text" class="form-control" name="original_link" id="exampleInputURL" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock content %}
