{% extends "base.njk" %}

{% block content %}

<p class="h2 mb-2">Show All Data</p>

<div class="d-grid gap-2 d-md-block mb-3 mt-3">
 <a href="/add" class="btn btn-primary btn-sm" role="button">Add Data</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">ShortLink</th>
      <th scope="col">Full Short Link</th>
      <th scope="col">Original Link</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for elem in result %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ elem.code }}</td>
      <td>{{ elem.short_link }}</td>
      <td>{{ elem.full_short_link}}</td>
      <td>{{ elem.original_link}}</td>
      <td><a href="/{{elem.code}}/delete" class="btn btn-info" role="button">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
